@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
section{
    /* margin-top: 60px; */
    margin-left: 50px;
}
.focused-mission,.develop-section,.community ,.fullstack-section{
    display: flex;
}
.half-width{
    width: 50%;
}
.single-focused h1{
    font-size: 60px;
    padding-left: 15px;
}
.focused-datalis{
    padding: 50px;
    padding-top: 90px;
    padding-left: 50px;
}
.single-focused h1{
    position: relative;
}
.single-focused h1::after{
    width: 5px;
    height: 130px;
    content: '';
    top: 18px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
    background-color: #FF5959;
}
span{
    color: #FFAD5A;
}
.single-focused p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-right: 150px;
}
.single-focused button, button{
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #FF5959;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.single-focused img{
    width: 58%;
    padding-left: 100px;
    padding-right: 70px;
}

.section-title{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 600;
}
.mission{
    display: flex;
    margin-left: 40px;
    margin-right: 90px
}
.mission-img img{
    width: 250px;
}
.single-mission{
    width: 33%;
    margin-right: 30px;
    background-color: #FFAD5A;
    padding: 20px;
    border-radius: 40px;
    background-color: #EDF5F6;
    margin-bottom: 30px;
}
.single-vission{
    background-color: #FFEEEE;
}
.single-goals{
    margin-right: 0;
    background-color: #FFF4D6;
}
.single-mission h2{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.single-mission p{
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}
.single-develop{
    width: 40%;
}
.single-develop1{
    width: 60%;
}
.develop-img,.single-community{
    position: relative;
}
.logo-img,.logo-img1{
    position: absolute;
    content: '';
    top: 100px;
    left: -84px;
    width: 400px;
    z-index: -1;

}

.develop-img img{
    width: 85%;
}
.develop-section,.community{
    margin-top: 50px;
    padding-left: 42px;
    padding-right: 55px;
}
.single-develop1 h1{
    font-size: 50px;
    font-weight: 700;

}
.single-develop1 p{
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 100px;
}
.single-community img{
    width: 70%;
    height: 78%;

}
.logo-img1{
    top: 54%;
    left: 53%;
}
.single-community h1{
    font-size: 45px;
    font-size: 700;

}
.single-community p{
    font-size: 20px;
    font-weight: 500;
    padding-right: 90px;
    line-height: 30px;
}
.single-developer,.single-developer1{
    width: 50%;
    margin-left: 50px;
    margin-bottom: 20px;
}
.single-developer img ,.single-developer1 img{
    width: 90%;
    height: 500px;
}
.fullstack{
    color: #fab004;
}
.single-developer1{
    margin-left: 0;
}
.footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 20px;    
    padding-top: 20px;
}
.footer h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}
.footer span{
    color: #FF5959;
}
.footer p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}
